<!DOCTYPE html>
<html lang="en">

<head>
  <title>View Listing</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="../styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="../styles/footer.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <header>
    <%- include("partials/_nav") %>
  </header>
    <body class="listing-id">
      <% for (let listing in listings) { %>
      <h2>$<%= listings[listing]['price'] %> - <%= listings[listing]['title'] %></h2>
      <div class="id-body">
        <div class="image-large">
          <% if (listings[listing]['photo_1'] && !listings[listing]['photo_2'] && !listings[listing]['photo_3'] && !listings[listing]['photo_4']) { %>
            <img class="mySlides" src="<%= listings[listing]['photo_1'] %>">
          <% } else if (listings[listing]['photo_1'] && listings[listing]['photo_2'] && !listings[listing]['photo_3'] && !listings[listing]['photo_4']) { %>
            <img class="mySlides" src="<%= listings[listing]['photo_1'] %>">
            <img class="mySlides" src="<%= listings[listing]['photo_2'] %>">
          <% } else if (listings[listing]['photo_1'] && listings[listing]['photo_2'] && listings[listing]['photo_3'] && !listings[listing]['photo_4']) { %>
            <img class="mySlides" src="<%= listings[listing]['photo_1'] %>">
            <img class="mySlides" src="<%= listings[listing]['photo_2'] %>">
            <img class="mySlides" src="<%= listings[listing]['photo_3'] %>">
          <% } else if (listings[listing]['photo_1'] && listings[listing]['photo_2'] && listings[listing]['photo_3'] && listings[listing]['photo_4']) { %>
            <img class="mySlides" src="<%= listings[listing]['photo_1'] %>">
            <img class="mySlides" src="<%= listings[listing]['photo_2'] %>">
            <img class="mySlides" src="<%= listings[listing]['photo_3'] %>">
            <img class="mySlides" src="<%= listings[listing]['photo_4'] %>">
          <% } %>
          <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
          <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
          <script>
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
              showDivs(slideIndex += n);
            }

            function showDivs(n) {
              var i;
              var x = document.getElementsByClassName("mySlides");
              if (n > x.length) {slideIndex = 1}
              if (n < 1) {slideIndex = x.length}
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
              }
              x[slideIndex-1].style.display = "block";
            }
            </script>
        </div>

        </div>
        <div class="user-features">
          <% if (!userId) { %>
            <a class="button" onclick="messageFunction()">Message</a>
            <script>
                function messageFunction() {
                  alert("Please Login to Send a Message");
                }
                </script>
            <button type="submit" class="button" onclick="favFunction()">Favorite</button>
            <script>
              function favFunction() {
                alert("Please Login to Favourite");
              }
              </script>
          <% } else { %>
            <!-- <a class="button" href="/messages/new/<%- listings[listing]['id']%>">Message</a> -->
            <form method="POST" action="/messages/new/<%- listings[listing]['id']%>">
              <button type="submit" class="button">Message</button>
            </form>
            <form method="POST" action="/listings/<%- listings[listing]['id']%>">
              <button type="submit" class="button">Favorite</button>
            </form>
            <% } %>
        </div>
        <div class="listing-description">
          <span><%= listings[listing]['description'] %></span>
        </div>
      </div>
    </body>
    <% } %>
  <footer>
    <%- include("partials/_footer") %>
  </footer>
</html>
