<!DOCTYPE html>
<html lang="en">

<head>
  <title>Messages</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="../styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="../styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="../styles/messages.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<header>
  <%- include("partials/_nav") %>
</header>
<body>
  <div class="msg-container">
    <% if (error) { %>
      <div id="message-error">
        <span><%= error %>. Click <a href="/">here</a> to go to homepage.</span>
      </div>
    <% } %>
    <div class="chats">
      <h2>Chats</h2>
      <% if (messages) { %>
        <% for(let i = 0; i < messages.length; i++) { %>
          <div class="chats-name">
            <% if (messages[i].sender_id === Number(userID)) { %>
              <h4 class="chat-sender"><a href="/messages/<%=messages[i].id%>">To: <%= messages[i].receiver %></a></h4>
            <% } %>
            <% if(messages[i].receiver_id === Number(userID)) { %>
              <h4 class="chat-receiver" ><a href="/messages/<%=messages[i].id%>">From: <%= messages[i].sender %></a></h4>
            <% } %>
          </div>
        <% } %>
      <% } %>
    </div>
    <% if (messageDetail) { %>
    <div class="head-title">
      <div class="row">
          <div class="column right">
            <h2>Title: <%= messageDetail.title%></h2>
            <span>Price: <%=messageDetail.price %></span>
            <span>Posted: <%= messageDetail.created %></span>
            <!-- <span class="padding">Posted: 4 days ago</span> -->
            <a href="/listings/:<%=messageDetail.listing_id%>">See detail</a>
          </div>
      </div>
    </div>
    <div class="chat-content">
      <div class="content">
        <div class="row" id="main-chat">
            <% if (conversation) { %>
              <% for (let i = 0; i < conversation.length; i++) { %>
                <% if (conversation[i].owner_id === Number(userID)) { %>
                  <div class="chat-row">
                    <div class="sent"><%= conversation[i].message%></div>
                  </div>
                <% } else { %>
                  <div class="chat-row">
                    <div class="received"><%= conversation[i].message%></div>
                  </div>
                <% } %>
              <% } %>
            <% } %>
        </div>
      </div>
      <form id="reply-message-form" method="/messages/<%=conversation.message_id%>">
        <div class="forms chat-send">
          <input class="form-area" type="text" id="txt-reply-message" name="txtMessage">
          <button type="submit" class="title button">Send&emsp;&nbsp;</label>
        </div>
      </form>
    </div>
    <% } %>
  </div>
</body>
<footer>
  <%- include("partials/_footer") %>
</footer>
</html>
